<a href="https://colab.research.google.com/github/SaidurIUT/MachineLearning/blob/main/2_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basics of PYTHON for Machine Learnig

#Print Function

In [1]:
print("Hello Machine Learning")

Hello Machine Learning

In [3]:
print("Hello" + " Machine" + " Learning")

Hello Machine Learning

In [4]:
print(7)

7

In [5]:
print(7+5)

12

In [6]:
print("7"+"5")

75

#Basic Data types

In [7]:
type(8)

int

In [8]:
type(3.5)

float

#Constants and Varables

In [11]:
superHero = "Iron man"

print(superHero)

Iron man

In [19]:
hero1,hero2,hero3 = "Salman" , "Sakib" , "Amir"
print(hero1)
print(hero2)
print(hero3)
print("The main hero is", hero2)
print("The main hero is" + hero2)
print("The main hero is" + hero2 + hero3)
print("The main hero is" + hero2 , hero3)
print(hero1 , hero2 , hero3)
print(hero1 + hero2 + hero3)

Salman
Sakib
Amir
The main hero is Sakib
The main hero isSakib
The main hero isSakibAmir
The main hero isSakib Amir
Salman Sakib Amir
SalmanSakibAmir

#Input

In [22]:
num1 = input("Enter the first number: ") #By default it takes as strng
num2 = input("Enter the second number: ")

print("Sum of the two numbers is: ", (num1+num2))

Enter the first number: 3
Enter the second number: 4
Sum of the two numbers is:  34

In [25]:
num1 = float(input("Enter the first number: "))  # Convert input to a float
num2 = float(input("Enter the second number: ")) # Convert input to a float

print("Sum of the two numbers is:", num1 + num2) # Add the two numbers and print the result

Enter the first number: 6
Enter the second number: 45
Sum of the two numbers is: 51.0

#Basic Data types

In [1]:
#Integers

a = 8
print(a)

8

In [2]:
type(a)

int

In [4]:
#flotaiing poriint

b =2.5

print(b)
type(b)

2.5

float

In [6]:
#Complerx numbers

c1 = 6+2j

print(c1)
type(c1)

(6+2j)

complex

In [7]:
c2 = 5+2j

print(c1+c2)

(11+4j)

Conversion of data types

In [9]:
#int to float

x = 23

print(x)
type(x)

y = float(x)
print(y)
type(y)

23
23.0

float

In [10]:
a = True

print(a)

type(a)

True

bool

String Sligiing

In [12]:
demoString = "Saeed is the best programmer"

print(demoString[2:5])

eed

In [13]:
#step

print(demoString[0:10:2])

Sedi

In [14]:
#String Concatenaton

str1 = "Programming"
str2 = "sucks"

print(str1 + str2)
print(str1 , str2)

Programmingsucks
Programming sucks

#List

In [15]:
# list shouild be included in square bracket

demoList = [1,2,3,4,5]

print(demoList)
type(demoList)

[1, 2, 3, 4, 5]

list

In [16]:
#Lists can have multiple data types

demoList = (2,3,5.3, "Programming" , True) #it can not be changed because it is immutable because I used ()

print(demoList)

(2, 3, 5.3, 'Programming', True)

In [19]:
# add elements to a list

demoList2 = [2,3,5.3, "Programming" , True] #it can be changed because it is mutable because I used []

demoList2.append(10)

print(demoList2)

[2, 3, 5.3, 'Programming', True, 10]

In [21]:
# Adding and deletiing item from list

list1= []

list1.append(1)
list1.append(4)
print(list1)


del list1[1]
print(list1)

[1, 4]
[1]

In [24]:
#join 2 list


list2=[1,2,3,4]
list3=[5,6,7,8]

list4 = list2 + list3

print(list4)

[1, 2, 3, 4, 5, 6, 7, 8]

#Tuple

In [25]:
tuple1 = (1,2,3,4)

type(tuple1)

print(tuple1)

(1, 2, 3, 4)

#If else

In [26]:
a= 39
b =54

if(a>b):
  print( a ,"is greater than",b)
else:
  print(b , "is greater than", a)

54 is greater than 39

#For Loop

In [28]:
for i in range(10):
  print("this is loop:" , i+1)

this is loop: 1
this is loop: 2
this is loop: 3
this is loop: 4
this is loop: 5
this is loop: 6
this is loop: 7
this is loop: 8
this is loop: 9
this is loop: 10

In [30]:
#loops in list

numbers = [18 , 43 ,24, 5,54 ,53 , 27]

print("First method")

for i in range(len(numbers)):
  print(numbers[i])


print("second method")

for i in numbers:
  print(i)

First method
18
43
24
5
54
53
27
second method
18
43
24
5
54
53
27